/* Codigo para cuerpo de la pagina */
body{
    margin: 0;
    padding: 0;
    background-image: url('../IMG/marmol.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffffff; /* Un color de respaldo por si la imagen no se carga */
}

/* Codigo para los contenedores de la pagina */
.container{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Codigo que oculta la barra scroll */
::-webkit-scrollbar {
    display: none;
}

/* ------------------------------------------------------------------------------- */
/* Codigo para la barra de navegacion de la pagina */
.menu-principal-navbar{ 
    background-color: #071d49; /* Color de fondo del menú */
    font-weight: bold; /* Letra negrita */
}

.menu-principal-navbar a.navbar-brand img{
    max-width: 120px; /* Tamaño máximo del logo */
    border-radius: 15px;
}

.menu-principal-navbar a.nav-link{
    color: #fff; /* Color de texto del texto del menu */
}

.menu-principal-navbar a.nav-link.active{
    color: #ffd700; /* Color de los enlaces del menú cuando esta activo*/
}

.menu-principal-navbar a.nav-link:hover {
    color: #ffd700; /* Color de los enlaces del menú al pasar el ratón */
    transform: scale(1.2); /* Aumento del tamaño al pasar el ratón */
}

.menu-principal-navbar .form-control {
    background-color: #fff; /* Color de fondo del campo de búsqueda */
}

.menu-principal-navbar .btn-outline-success{
    color: #071d49; /* Color de texto del botón de búsqueda */
    background-color: #ffd700 ; /* Color de fondo del botón de búsqueda */
}

.menu-principal-navbar .btn-outline-success:hover{
    color: #ffd700; /* Color de texto del botón de búsqueda al pasar el ratón */
    background-color:#071d49 ;/* Color de fondo del botón de búsqueda al pasar el ratón */
}

/* Estilo para botón hamburguesa navbar */
.custom-toggler .navbar-toggler-icon{
    background-color: #ffd700;
    border-radius: 8px;
    width: 42px;
    height: 42px;
}

/* ------------------------------------------------------------------------------- */
/* Codigo para el carousel de la pagina */
.carousel-item img{
    max-height: 500px;
    height: 500px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

/* Estilos para dispositivos móviles (menos de 768px) */
@media (max-width: 768px) {
    .carousel-item img{
        max-height: 300px;
        height: 300px;
        width: 100%;
        margin: 0 auto;
        border-radius: 20px;
    }
}

/* ------------------------------------------------------------------------------- */
/* Codigo para el modal de la pagina */

/* Estilo para el contenedor de la imagen */
.property-image-container {
    max-width: 100%;
    height: auto;
    text-align: center; /* Centrar la imagen horizontalmente */
  }

/* Estilo para la imagen dentro del contenedor */
#propertyImage{
    max-width: 100%;
    max-height: 70vh;
    margin: 0 auto;
    display: block;
}

  /* Estilo para centrar el título */
#propertyTitle{
    text-align: center;
    margin-top: 10px; /* Agrega un espacio entre el título y la imagen */
    margin-bottom: 10px; /* Agrega un espacio entre el título y la información */
}

/* Estilo para la información de la propiedad */
#propertyDetails{
    text-align: center; /* Centra la información horizontalmente */
    font-size: 1.2em; /* Tamaño de fuente un poco más grande para la información */
    margin: 0; /* Elimina el margen predeterminado */
}

/* ------------------------------------------------------------------------------- */
/* Codigo para el footer de la pagina */
.footer{
    background-color: #071d49; /* Color de fondo del footer */
    color: #fff; /* Color del texto en el footer */
    padding: 20px 0; /* Espaciado interno en la parte superior e inferior */
    text-align: center; /* Centrar el contenido del footer horizontalmente */
    margin-top: 12px;
    width: 100%;
}

/* Estilos para el formulario de contacto en el footer */
.footer form{
    background-color: #071d49; /* Color de fondo del formulario */
    color: #fff; /* Color del texto en el formulario */
    padding: 20px; /* Espaciado interior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    font-weight: bold;
}

.footer form input[type="text"],
.footer form input[type="email"],
.footer form textarea {
    width: 100%; /* Ancho completo para los campos de entrada */
    padding: 10px; /* Espaciado interior de los campos de entrada */
    margin-bottom: 10px; /* Espaciado inferior entre los campos de entrada */
    border: none; /* Sin borde en los campos de entrada */
    background-color: #fff; /* Color de fondo de los campos de entrada */
    color: #071d49; /* Color del texto en los campos de entrada */
    border-radius: 5px; /* Bordes redondeados para los campos de entrada */
}

.footer form button[type="submit"] {
    background-color: #ffd700; /* Color de fondo del botón de enviar */
    color: #071d49; /* Color del texto en el botón de enviar */
    padding: 10px 20px; /* Espaciado interior del botón de enviar */
    border: none; /* Sin borde en el botón de enviar */
    border-radius: 5px; /* Bordes redondeados para el botón de enviar */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón de enviar */
}

.footer form button[type="submit"]:hover {
    background-color: #071d49; /* Cambia el color de fondo al pasar el ratón */
    color: #ffd700; /* Cambia el color del texto al pasar el ratón */
}

/* ------------------------------------------------------------------------------- */
/* Codigo para contenedor informacion de la pagina */
.text-informacion p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.text-informacion h2{
    text-align: center;
}

.text-informacion img{
    border-radius: 30px;
}