body {
    margin: 0;
    padding: 0;
    background-image: url('../IMG/marmol.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffffff; /* Un color de respaldo por si la imagen no se carga */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    animation: backgroundAnimation 2s forwards; /* Cambia "infinite" a "forwards" */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    display: inline-block;
    margin: 0 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    transition: transform 0.3s ease-in-out;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo:hover {
    transform: scale(1.2);
}

@keyframes backgroundAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Estilos para dispositivos m贸viles (menos de 768px) */
@media (max-width: 768px) {
    .logo-container {
        flex-direction: column; /* Cambia la direcci贸n de flex a columna */
        align-items: center; /* Centra los logos verticalmente */
    }

    .logo {
        margin: 20px 0; /* Espaciado vertical entre los logos */
        transition: transform 0.3s ease-in-out;
        transform: none; /* Elimina cualquier transformaci贸n en dispositivos m贸viles */
    }
}
