/* Codigo para cuerpo de la pagina */
body{
    margin: 0;
    padding: 0;
    background-image: url('../IMG/marmol.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffffff; /* Un color de respaldo por si la imagen no se carga */
}

/* ------------------------------------------------------------------------------- */
/* Codigo para la barra de navegacion de la pagina */
.menu-principal-navbar{ 
    background-color: #071d49; /* Color de fondo del menú */
    font-weight: bold; /* Letra negrita */
}

.menu-principal-navbar a.navbar-brand img{
    max-width: 120px; /* Tamaño máximo del logo */
    border-radius: 15px;
}

.menu-principal-navbar a.nav-link{
    color: #fff; /* Color de texto del texto del menu */
}

.menu-principal-navbar a.nav-link.active{
    color: #ffd700; /* Color de los enlaces del menú cuando esta activo*/
}

.menu-principal-navbar a.nav-link:hover {
    color: #ffd700; /* Color de los enlaces del menú al pasar el ratón */
    transform: scale(1.2); /* Aumento del tamaño al pasar el ratón */
}

.menu-principal-navbar .form-control {
    background-color: #fff; /* Color de fondo del campo de búsqueda */
}

.busqueda input{
    text-align: center;
}

.busqueda{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

::-webkit-input-placeholder {
    text-align: center;
    line-height: 100px;/* Centrado vertical */
  }

/* Estilo para botón hamburguesa navbar */
.custom-toggler .navbar-toggler-icon{
    background-color: #ffd700;
    border-radius: 8px;
    width: 42px;
    height: 42px;
}
@media (max-width: 992px) {
    .menu-principal-navbar a.nav-link{
        text-align: center;
    }
}

/* Estilo para el contenedor principal de las casas */
.propiedades-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas por fila en pantallas grandes */
    gap: 10px; /* Reducido el espacio entre las casas */
    justify-items: center; /* Centra las casas horizontalmente en cada columna */  
}

.propiedad:hover {
    background-color: #007BFF; /* Color de fondo en hover */
    color: #FFF; /* Color de texto en hover */
    transform: scale(1.05); /* Efecto de escala en hover */
}

@media (max-width: 992px) {
    .propiedades-container {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas por fila en pantallas medianas */
    }
}

@media (max-width: 701px) {
    .propiedades-container {
        grid-template-columns: repeat(1, 1fr); /* Una columna por fila en pantallas pequeñas */
    }
}

/* Estilo para el contenedor de cada casa */
.propiedad {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 10px; /* Ajustado el padding */
    margin: 5px; /* Reducido el margin */
    text-align: center;
    transition: transform 0.3s; /* Agregado efecto de transformación para transición suave */
}

/* Estilo para el imagen de la casa */
.propiedad img {
    max-width: 100%;
    max-height: 300px;
    width: auto; /* Cambiado para ajustarse al ancho del contenedor */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px; /* Espacio entre la imagen y la información */
}

/* Resto de estilos se mantienen igual */

/* Estilo para el enlace de ubicación */
.propiedad a.ubicacion {
    text-decoration: none; /* Sin subrayado para el enlace */
    color: #007BFF; /* Color azul para el enlace */
    transition: color 0.3s; /* Transición de color al pasar el ratón */
}

/* Cambio de color al pasar el ratón sobre el enlace de ubicación */
.propiedad a.ubicacion:hover {
    color: #0056b3; /* Color azul más oscuro al pasar el ratón */
}