body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  #clientDetails {
    margin-bottom: 20px;
  }
  
  #clientDetails table {
    border-collapse: collapse;
    width: 100%;
  }
  
  #clientDetails th, #clientDetails td {
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  #clientDetails th {
    background-color: #f2f2f2;
    text-align: center;
  }

  #clientDetails td{
    text-align: left;
  }
  
  